.gray-background
    background-color: #f5f5f5 !important
    font-size: 12px
    padding: 20px

ul
    list-style: none
ul
    li
        padding-top: 5px
        padding-bottom: 5px
        a
            position: relative
            color: #000

.margin-10
    margin: 10px

.padded-5
    padding: 5px

.new-dot
    background: #4aa28b !important
    width: 5px !important
    height: 5px !important
    border-radius: 10px
    position: absolute
    right: -10px
    top: 0

.share-buttons
    padding: 10px
    margin: 20px

.mw-130
    max-width: 130px
