<div class="footer">
  <div class="gray-background">
    <div class="row ">
      <div class="col-sm-2 "></div>
      <div class="col-sm-2 "></div>
      <div class="col-sm-2 "></div>
      <div class="col-sm-2 ">
        <ul>
          <li><b>Bank Accounts</b></li>
          <li>Bank Account</li>
          <li>
            <a href="">
              N26 You
              <div class="new-dot"></div
            ></a>
          </li>
          <li>Metal</li>
          <li>N26 Business</li>
          <li>
            <a href="">
              N26 Business You
              <div class="new-dot"></div
            ></a>
          </li>
          <li>N26 Web</li>
        </ul>
      </div>
      <div class="col-sm-2 ">
        <ul>
          <li><b>Bank Accounts</b></li>
          <li>Bank Account</li>
          <li>
            <a href="">
              N26 You
              <div class="new-dot"></div
            ></a>
          </li>
          <li>Metal</li>
          <li>N26 Business</li>
          <li>
            <a href="">
              N26 Business You
              <div class="new-dot"></div
            ></a>
          </li>
          <li>N26 Web</li>
        </ul>
      </div>
      <div class="col-sm-2 ">
        <ul>
          <li><b>Bank Accounts</b></li>
          <li>Bank Account</li>
          <li>
            <a href="">
              N26 You
              <div class="new-dot"></div
            ></a>
          </li>
          <li>Metal</li>
          <li>N26 Business</li>
          <li>
            <a href="">
              N26 Business You
              <div class="new-dot"></div
            ></a>
          </li>
          <li>N26 Web</li>
        </ul>
      </div>
    </div>
    <div class="row text-center share-buttons">
      <img src="assets/google-play.svg" class="btn mw-130" />
      <img src="assets/app-store.svg" class="btn mw-130" />
      <img src="assets/web-browser.svg" class="btn mw-130" />
    </div>
    <div class="row">
      <div class="col-sm-4 "><small>© N26 GmbH / N26 Inc. 2019 </small></div>
      <div class="col-sm-4 "></div>
      <div class="col-sm-4 text-right ">
        <small>
          Legal Documents | Update cookie settings | Privacy Policy(new tab) |
          Imprint(new tab)</small
        >
      </div>
    </div>
  </div>
</div>
