<div class="gray-background">
  <div class="row ">
    <div class="col-sm-2 ">1</div>
    <div class="col-sm-2 ">2</div>
    <div class="col-sm-2 ">3</div>
    <div class="col-sm-2 ">
      <ul>
        <li><b>Bank Accounts</b></li>
        <li>Bank Account</li>
        <li>
          N26 You
          <div class="new-dot"></div>
        </li>
        <li>Metal</li>
        <li>N26 Business</li>
        <li>
          N26 Business You
          <div class="new-dot"></div>
        </li>
        <li>N26 Web</li>
      </ul>
    </div>
    <div class="col-sm-2 ">5</div>
    <div class="col-sm-2 ">6</div>
  </div>
  <div class="row text-center" style="padding: 10px; margin: 20px;">
    <img src="assets/google-play.svg" class="btn" style="max-width: 130px;" />
    <img src="assets/app-store.svg" class="btn" style="max-width: 130px;" />
    <img src="assets/web-browser.svg" class="btn" style="max-width: 130px;" />
  </div>
  <div class="row">
    <div class="col-sm-4 "><small>© N26 GmbH / N26 Inc. 2019 </small></div>
    <div class="col-sm-4 "></div>
    <div class="col-sm-4 text-right ">
      <small>
        Legal Documents | Update cookie settings | Privacy Policy(new tab) |
        Imprint(new tab)</small
      >
    </div>
  </div>
</div>
