.carousel-indicators
    z-index: 0
    bottom: -56px
    li
        border-radius: 20px
        width: 18px
        height: 18px
        background: rgb(178, 178, 180)
        border: 3px solid #d6c8c811
        margin: 7px 3px

    .active
        background: #808080
span
    overflow: hidden
    border-radius: 8px

.carousel-inner > .item
    padding: 15px

.carousel-inner
    border-radius: 10px
    margin: 20px
    margin-left: 15px

.img-responsive
    width: 90% !important
