
.container
    max-width: 1425px!important
    width: 100%

%message-shared
    border-radius: 10px
    margin: 10px
    display: inline
    padding: 10px
    color: #333
    box-shadow: 0px 9px 10px rgba(0,0,0,0.1)
    font-size: 12px
    transition: .3s

%message-shared:hover
    box-shadow: 0px 17px 22px rgba(0, 0, 0, 0.1)
    transition: .3s

%equal-heights
    display: flex
    flex-wrap: wrap

.package-box
  @extend %message-shared
.text-muted
    opacity: 0.2
ul
    list-style-type: none
.bottom-message
    margin-top: 30px
.text-paded
    padding: 5px
.margin-10
    margin: 10px

.carousel
    margin: 10px
    border-radius: 10px
    box-shadow: 0px 9px 10px rgba(0,0,0,0.1)

.top-40-m
    margin-top: 40px
    margin-bottom: 60px

.theme-button
    color: white
    background: #4aa28b
    margin: 61px 10px 28px

.welcome-section
    padding-top: 90px

.packagebox

.carousel-indicators
    bottom: -40px
    li
        border: 2px solid white
        width: 15px
        height: 15px

.boxes
    max-width: 300px
    border: 2px dashed silver
    margin: 10px

.centered
    margin-left: 5%

.top-div

.bottom-div
    margin-top: 60px
    h2
        font-size: 38px

.grayArea
    background: #F5F5F5
    padding: 50px 90px 40px
.welcome-area
    height: 510px
    padding: 0 60px
    max-width: 920px
    margin: 0 auto
    .title
        font-size: 31px
    .slogan
        font-size: 21px

.cut-top

.shadowed-border
    transition: 0.2s
    box-shadow: 0px 9px 10px rgba(0,0,0,0.05)
    border-radius: 10px

.shadowed-border:hover
    transition: 0.2s
    box-shadow: 0px 9px 10px rgba(0,0,0,0.1)

.serviceBullets
    padding: 15px 20px
    li
        padding-left: 33px
        position: relative
        margin-bottom: 16px

        i
            position: absolute
            left: 0
            top: 0
            font-size: 18px
            color: #4aa28b
            font-weight: 700

.bottom-text
    margin: 40px 0px

.mb-20
    margin-bottom: 20px
.mb-40
    margin-bottom: 40px
.mb-60
    margin-bottom: 60px

.mt-20
    margin-top: 20px
.mt-40
    margin-top: 40px
.mt-60
    margin-top: 60px

.pt-20
    padding-top: 20px
.pt-40
    padding-top: 40px
.pt-60
    padding-top: 60px

@import url('./media.css')